header {
  color: brown;
  background-color: gray;
  border-radius: 20pt;
  line-height: 80pt;
  font-size: 20px;
  font-family: sans-serif;
  font-style: oblique;
  text-align: center;
}
body {
  margin-block: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
p {
  line-height: 150%;
  font-family: sans-serif;
  font-size: 150%;
  text-align: justify;
}
ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
img {
  display: block;
  margin: auto;
}
